{% extends 'blog/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px; border-style: solid; border-color: red; border-width: 2px;">
        <h1 style="font-size: 45px; font-weight: 800; color: black;">Blog About</h1>
        <hr style="color: rgb(34, 39, 39);">
        <h1 style="font-size: 18px; font-weight: 500; color: black;">Hello! Absolutely, I'd be happy to help you refine and develop your blog ideas. Please share your blog topic or idea, and I'll assist you in crafting it into a compelling piece. Whether it's about personal development, technology trends, travel experiences, or any other topic, let's work together to create something engaging for your readers.</h1>
        <a style="color: black;" href="#" id="auth-links"><i class="fa fa-dribbble"></i></a>
        <a style="color: black;" href="#" id="auth-links"><i class="fa fa-twitter"></i></a>
        <a style="color: black;" href="#" id="auth-links"><i class="fa fa-linkedin"></i></a>
        <a style="color: black;" href="#" id="auth-links"><i class="fa fa-facebook"></i></a>
    </div>
    
{% endblock content %}